*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
   font-family: "Azeret Mono", monospace;
}
/* <!-- ---nav-ber-style----- --> */
.nav_bar{
  /* border: 2px solid red; */
  margin: 50px 150px 0;
  margin-bottom: 131px;
  display: flex;
  justify-content: space-between;
}

.nav_bar h2{
  font-size: 28px;
  font-weight: 900;
}
.btn1{
  padding: 17px 24px;
  color: #0D1321;
  border-radius: 8px;
 
}

 /* <!-- ------banner-style heare---- --> */

.banner_area{
  /* border: 2px solid red; */
  width: 1440;
  height: 652px;
  background-image: url(/img/Hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}

.banner_box{
  text-align: center;
  justify-content: center;
}

.banner_box img{
  margin-top: 40px;
  margin-bottom: 32px;
}

.banner_box h2{
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 20px;
}

.banner_box p{
  line-height: 20px;
  font-size: 16px;
  color: #0D1321;
}

.btn2{
  padding: 21px 24px;
  font-size: 20px;
  font-weight: 400;
  margin-top: 50px;
  border-radius: 8px;
  margin-bottom: 20px;
  background: #0D1321;
  color: #fff;
}

/* <!-- ------Contant-area-style----- --> */

.content_area{
 margin: 74px 152px;
  width: 1140px;
  height: 1393px;
  background: #ffffff;
}

.contant_parent{
   margin: 80px 97px;
   width: 946px;
   height: 1233px;
}
.fist_child{
  text-align: center;
  margin: 0 47px;
}
.fist_child h1{
font-weight: 900;
font-size: 32px;
}
.fist_child p{
line-height: 26px;
font-size: 16px;
color: #0D1321;
margin-top: 30px;
font-family: "Azeret Mono", monospace;
}

.sec_child{
 display: flex;
  border-radius: 16px;
  margin: 48px;
  display: flex;
  justify-content: space-between;
  gap: 93px;

}

.sec_child h3{
font-weight: bold;
font-size: 24px;
color: rgb(13, 19, 33, 70%);
line-height: 36px;
}

.sec_child p{
  align-items: 20px;
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 32px;
  color: rgb(13, 19, 33, 70%);
}

/* contant all btn style hare */

#contant_btn{
  padding: 10px 20px;
}

.colm3_child{
  gap: 32px;
}
.colm3_child h3{
margin-top: 10px;
font-weight: bold;
font-size: 24px;
color: rgb(13, 19, 33, 70%);
line-height: 36px;
}
.colm3_child p{
align-items: 20px;
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 32px;
 color: rgb(13, 19, 33, 70%);
}

.colm4_child h3{
margin-top: 10px;
font-weight: bold;
font-size: 24px;
color: rgb(13, 19, 33, 70%);
line-height: 36px;
}
.colm4_child p{
  line-height: 20px;
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 32px;
 color: rgb(13, 19, 33, 70%);
}

/* ----video-area-style---- */

.video_area{
  border: 2px solid red;
  width: 1140px;
  height: 775px;
  margin: 90px 152px 151px 148px;
}

.video_title{
  border: 2px solid red;
  text-align: center;
}

.video_title h1{
  font-size: 32px;
  font-weight: 900;
  color: #0D1321;
  margin-bottom: 24px;
}
.video_title p{
  line-height: 20px;
  font-size: 12px;
  color: rgb(13, 19, 33, 70%);
}

.link-section iframe{
  margin: 80px 32px;
  border-radius: 16px;
}

.target_section{
  width: 1140px;
  height: 1437px;
  border: 2px solid red;
  margin: 0 150px;
}






















































































